*.exe
*.rar
*.sublime-project
*.sublime-workspace
spider_workspace/cache
spider_workspace/file_out
spider_workspace/history
spider_workspace/logs
spider_workspace/text_out
/app/spider/spider_workspace/cache
/app/spider/spider_workspace/file_out
/app/spider/spider_workspace/history
/app/spider/spider_workspace/logs
/app/spider/spider_workspace/text_out
*.log
